.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
  backdrop-filter: blur(15px);

  .left {
    display: flex;
    align-items: center;

    .esummitLogo {
      width: 4rem;
      height: 4rem;
      padding-left: 2rem;
    }
  }
  .right {
    ul {
      list-style: none;
      display: flex;
    }
    li {
      margin-right: 30px;
    }
    a {
      text-decoration: none;
      color: var(--text);
      font-weight: bold;
      transition: color 0.3s ease;
    }
    a:hover {
      color: var(--accent);
    }
  }
}

/* responsive */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon {
  margin-right: 20px;
}

@media screen and (max-width: 760px) {
  .navbar {
    position: fixed;
    width: 100vw;
    height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px) opacity(1);
    &.menu-open {
      background-color: rgba(0, 0, 0, 1);
      backdrop-filter: none;
    }
  }

  .right ul {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px)  opacity(1);
    /* transition: max-height 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out; */

    
  }

  .navbar.menu-open .right ul {
    max-height: 500px;
  }

  .right li {
    margin-right: 0;
    padding: 10px;
    text-align: center;

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  .menu-icon {
    display: block;
  }

  .navbar.menu-open .content {
    margin-top: 300px;
    transition: margin-top 0.3s ease;
  }

  .content {
    margin-top: 2.5rem;
    transition: margin-top 0.3s ease;
  }
}
